@import './_variables.scss';

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--background-clr);
    font-family: $Nunito-Sans;
    color: var(--text-clr);
}

.welcome-app {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
    }
    code {
        color: #5cb85c;
        font-weight: bold;
        font-size: 18px;
    }
}

.spinning-logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
    img {
        width: 100%;
        height: 100%;
        animation: spin 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        filter: drop-shadow(rgba(100, 100, 111, 0.2) 0px 7px 29px 0px);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-center {
    text-align: center;
}